# Dependencies
node_modules/
package-lock.json

# Build
dist/
build/

# Electron
main.js
package.json

# IDE
.idea/
.vscode/
*.sublime-*
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# GitHub Pages
.gh-pages-cache/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local 